.is-sticky .mainmenu-area {
  background: #d6d8db;
  background: -moz-linear-gradient(top, #fff 0%, #d6d8db 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #d6d8db));
  background: -webkit-linear-gradient(top, #fff 0%, #d6d8db 100%);
  background: -o-linear-gradient(top, #fff 0%, #d6d8db 100%);
  background: -ms-linear-gradient(top, #fff 0%, #d6d8db 100%);
  background: linear-gradient(to bottom, #ffffff 0%,#d6d8db 100%);
  border: 1px solid #acb1b6;
      border-top-color: rgb(172, 177, 182);
      border-top-style: solid;
      border-top-width: 1px;
  border-top: none;
  border-bottom: 5px solid #e40045;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    z-index: 99999;
}


.mainmenu-area {
    border-bottom: none;
    position: relative;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    z-index: 9999;
}

.navbar {
  background: #d6d8db;
  background: -moz-linear-gradient(top, #fff 0%, #d6d8db 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #d6d8db));
  background: -webkit-linear-gradient(top, #fff 0%, #d6d8db 100%);
  background: -o-linear-gradient(top, #fff 0%, #d6d8db 100%);
  background: -ms-linear-gradient(top, #fff 0%, #d6d8db 100%);
  background: linear-gradient(to bottom, #ffffff 0%,#d6d8db 100%);
  border: 1px solid #acb1b6;
      border-top-color: rgb(172, 177, 182);
      border-top-style: solid;
      border-top-width: 1px;
  border-top: none;

  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.2);
    z-index: 99999;
}

.is-sticky ul#nav li a {
    padding: 20px 15px;
    color: #303c49;
}


.is-sticky ul#nav li a:hover,
.is-sticky ul#nav li.active a {
    color: #e40045;
}

ul#nav li a:hover,
ul#nav li.active a {
    /*color: rgba(228, 0, 69, 1);*/
	color: #e40045;
}

ul#nav li a {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #303c49;
    letter-spacing: 1px;
    padding: 40px 15px;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    font-weight: bold;
}


@media (max-width: 991px) and (min-width: 768px){
  .navbar-header {
      border-bottom: 1px solid #e40045;
      margin: 0;
      padding: 15px 0;
  }
}


.home-button a:hover {
    background: #e40045 none repeat scroll 0 0;
    border-color: #e40045;
    color: #ffffff;
}


.welcome-slider-area.owl-carousel .owl-nav > div:hover {
    background: #e40045 none repeat scroll 0 0;
    color: #fff;
}

a.scrolltotop {
	background-color: #e40045;
}


.member-social-bookmark .social-bookmark li a:hover {
    background: #e40045 none repeat scroll 0 0;
}





/* -----------------------------
    15. SERVICE TWO
------------------------------ */
.service-icon-two {
    color: #e40045;
}

.single-service-two:hover {
    background: #e40045 none repeat scroll 0 0;
}


/* ----------------------------
    16. SERVICE THREE
------------------------------ */

.single-service-three {
    border: 1px solid #eef2f4;
    -webkit-box-shadow: 0 0 10px #eef2f4;
    box-shadow: 0 0 10px #eef2f4;
    margin-bottom: 30px;
    padding: 30px 20px 30px 80px;
    position: relative;
}

.single-service-three h4 {
    color: #e40045;
}

.service-icon-three {
    color: #e40045;
}

.blog-meta {
    background: #e40045 none repeat scroll 0 0;
}

.read-more:hover,
.read-more:focus {
    background: #e40045;
    color: #fff;
}

.preloader-spinner {
    border: 5px solid #e40045;
}

.single-service:hover .service-details h4 {
    color: #e40045;
}

.single-service:hover .service-icon,
.single-service:hover .service-icon::before,
.single-service:hover .service-icon::after {
    background: #e40045 none repeat scroll 0 0;
}

.promo-icon {
	color: #e40045;
}

.area-title h2::after {
    background: #e40045 none repeat scroll 0 0;
}


.blog-details h3 a:hover,
.blog-details h3 a:focus {
    color: #e40045;
}

.dark-bg {
    background: #303c49;
}

.single-footer-widget h3::after {
    border-bottom: 1px dashed #e40045;
}

.single-footer-widget.twitter-widget ul li .twitter-icon {
    color: #e40045;
}


.footer-social-bookmark .social-bookmark li a:hover {
    background: #e40045;
}


.single-footer-widget a:hover {
    color: #e40045;
}

.bold{
  font-weight: bold;
}

.menu-toggle.full {
    color: #e40045 !important;;
}

.social-bookmark li a:hover {
    background: #e40045 none repeat scroll 0 0;
}


.contact-address a:hover {
    color: #e40045;
}


.opening-hours td{
  padding:8px;
}